<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" *ngFor="let StockItem of StockItems">
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <!-- <mat-card-title>{{StockItem.}}</mat-card-title> -->
        </mat-card-header>
        <!-- <img mat-card-image src="./../../../assets/"> -->
        <mat-card-content>
          <p>
            {{StockItem.Description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button><i class="fa fa-eye"></i>Details</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
<style>
  mat-toolbar {
    justify-content: space-between;
  }

  .content {
    padding: 16px;
  }

  .content>mat-card {
    margin-bottom: 16px;
  }

</style>
