<ul>
    <li *ngFor="let cat of Categories">{{cat.Name}} <button class="btn btn-danger"  (click)="DeleteCategory(cat)"> Delete</button></li>
</ul>

<form #CtForm=ngForm> 
    <div class="row">
        <div class="col-md-6">
            <label>Name</label>
            <input type="text" name="Name" id="Name" [(ngModel)]="CategoryObject.Name">
        </div>

        <div class="col-md-6">
            <label>Description</label>
            <input type="text" name="Descripton" id="Descripton" [(ngModel)]="CategoryObject.Descripton">
        </div>
    </div>

    <button class="btn btn-primary" (click)="AddCategory()">Save </button>
    
</form>