<!-- <button class="btn btn-info" routerLink="/AddCategory"style="float: right;">Create New Category</button> -->
<button class="btn btn-info" (click)="openAddModal(AddModal)" style="float: right;">Create New Category</button>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item  " aria-current="page"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item   " aria-current="page">Category</li>
  </ol>
</nav>
<div class="example-table-container">

  <mat-table [dataSource]="Categories" class="mat-elevation-z8">
    <ng-container matColumnDef="Id">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let element;let i=index;"> {{i+1}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="ParentName">
      <mat-header-cell *matHeaderCellDef> Parent Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.ParentName}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Descripton">
      <mat-header-cell *matHeaderCellDef> Descripton </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Descripton}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Delete">
      <mat-header-cell *matHeaderCellDef="let element">Delete</mat-header-cell>
      <mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
        <i href="javascript:void(0);" (click)="openDeleteModal(DeleteModal,element)">
          <span class="fa fa-trash"></span>
        </i>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns" (click)="openEditModal(EditModal,row.Id)"></mat-row>

  </mat-table>
  <!-- <mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator> -->

</div>
<ng-template #AddModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Category</h4>

  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <mat-form-field class="form-field">
            <mat-label>Name</mat-label>
            <input matInput type="text" [(ngModel)]="CategoryObject.Name">
            <button mat-button *ngIf="CategoryObject.Name" matSuffix mat-icon-button aria-label="Clear"
              (click)="CategoryObject.Name=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Parent Category</mat-label>
            <mat-select>
              <mat-option *ngFor="let pCat of Categories" [value]="pCat.Id">{{pCat.Name}}</mat-option>

            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <textarea matInput [(ngModel)]="CategoryObject.Descripton"></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

  <div class="row text-center  modal-footer">
    <div class="col-md-offset-3 col-md-3">
      <button type="button" class="btn btn-outline-success btn-md" data-dismiss="modal"
        (click)="updateCategory(CategoryObject)">Save</button>
    </div>
    <div class=" col-md-3">
      <button type="button" class="btn btn-danger btn-md" data-dismiss="modal"
        (click)="modal.dismiss('Cross click')">Cancel</button>
    </div>
  </div>
</ng-template>

<ng-template #EditModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Category</h4>

  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <mat-form-field class="form-field">
            <mat-label>Name</mat-label>
            <input matInput type="text" [(ngModel)]="CategoryObject.Name">
            <button mat-button *ngIf="CategoryObject.Name" matSuffix mat-icon-button aria-label="Clear"
              (click)="CategoryObject.Name=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Parent Category</mat-label>
            <mat-select>
              <mat-option *ngFor="let pCat of Categories" [value]="pCat.Id">{{pCat.Name}}</mat-option>

            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <textarea matInput [(ngModel)]="CategoryObject.Descripton"></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

  <div class="row text-center  modal-footer">
    <div class="col-md-offset-3 col-md-3">
      <button type="button" class="btn btn-outline-success btn-md" data-dismiss="modal"
        (click)="updateCategory(CategoryObject)">Save</button>
    </div>
    <div class=" col-md-3">
      <button type="button" class="btn btn-danger btn-md" data-dismiss="modal"
        (click)="modal.dismiss('Cross click')">Cancel</button>
    </div>
  </div>
</ng-template>

<ng-template #DeleteModal let-Dmodal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Delete Category</h4>

  </div>
  <div class="modal-body">
    <div class="row">
      Are you sure ,you want delete this.
    </div>

  </div>

  <div class="row text-center  modal-footer">
    <div class="col-md-offset-3 col-md-3">
      <button type="button" class="btn btn-outline-success btn-md" data-dismiss="Dmodal"
        (click)="DeleteCategory(CategoryObject)">Save</button>
    </div>
    <div class=" col-md-3">
      <button type="button" class="btn btn-danger btn-md" data-dismiss="Dmodal"
        (click)="Dmodal.dismiss('Cross click')">Cancel</button>
    </div>
  </div>
</ng-template>

<style>
  button {
    margin: 16px 8px;
  }

  table {
    width: 100%;
  }

</style>
