/* @import '../theme'; */

:host {
  display: flex;
  flex-direction: column;
  outline: none;
  width: 100%;



}

.mat-list-item.active {
  background-color: #BCDBE0;
}


.mat-list-item:hover,
.mat-list-item:focus>.mat-list-item:not(.expanded) {
  background-color: #eaf3f6 !important;
}


.mat-list-item:hover::after,
.mat-list-item:focus::after>.mat-list-item:not(.expanded)::after {
  position: absolute;
  top: 0;
  right: -10px;
  bottom: 0;
  color: #ef4586;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #303030;
  content: "";
}


.mat-list-item {
  padding: 8px 0;
  display: flex;
  width: auto;


}

.routeIcon {
  margin-right: 40px;
  color: #ef4586;
}

menu-list-item {
  background-color: #d1cdcd;
}



menu-list-item:nth-child(odd) {
  background-color: #c2d7d2;
}

menu-list-item:nth-child(even) {
  background-color: #c2d7d2;
}

.expandmoreIcon {
  position: absolute;
  right: 0;
  margin-top: -7%;
}

mat-list-item {
  width: 100%;
}
