<a mat-list-item (click)="onItemSelected(item)"
  [ngClass]="{'active': item.route ? router.isActive(item.route, true): false, 'expanded': expanded}"
  class="menu-list-item">
  <mat-icon class="routeIcon">{{item.iconName}}</mat-icon>
  <span>{{item.displayName}}</span>
  <span fxFlex *ngIf="item.children && item.children.length">
    <span fxFlex></span>
    <mat-icon class="expandmoreIcon" [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
      chevron_right
    </mat-icon>
  </span>
</a>
<div *ngIf="expanded">
  <menu-list-item *ngFor="let child of item.children" [item]="child" [depth]="depth+1">
  </menu-list-item>
</div>
