/* @import '../theme'; */

:host {
  display: flex;
  flex-direction: column;
  outline: none;
  width: 100%;



}

.mat-list-item.active {
  background-color: #BCDBE0;
}


.mat-list-item:hover,
.mat-list-item:focus>.mat-list-item:not(.expanded) {
  background-color: #eaf3f6 !important;
}

.mat-list-item {
  padding: 8px 0;
  display: flex;
  width: auto;


}

.routeIcon {
  margin-right: 40px;
  color: cadetblue;
}

app-menu-list-item {
  background-color: #d1cdcd;
}

app-menu-list-item:nth-child(odd) {
  background-color: #e7e7e7;
}

app-menu-list-item:nth-child(even) {
  background-color: #e7e7e7;
}

.expandmoreIcon {
  position: absolute;
  right: 0;
  margin-top: -7%;
}

mat-list-item {
  width: 100%;
}
