/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~font-awesome/css/font-awesome.css";
body{
    background-color:  #FFFFFF;
}

html , body{
    height: 100%;
margin: 0%;

} 

mat-row, mat-header-row, mat-footer-row{
    width: 100%;
}