/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import '~ngx-toastr/toastr';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~font-awesome/css/font-awesome.css";
@import '~material-design-icons/iconfont/material-icons.css';


body {
  background-color: #FFFFFF;
}

html,
body {
  height: 100%;
  margin: 0%;

}

mat-row,
mat-header-row,
mat-footer-row {
  width: 100%;
}

.form-field {
  width: 200px;
}

.mat-form-field {
  width: 100%;
}

.mat-list-base .mat-list-item .mat-list-item-content,
.mat-list-base .mat-list-option .mat-list-item-content {
  width: 100%;
}
